@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.centerColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerGeral {
    width: 100vw;
    min-height: 100vh;
    z-index: 2200 !important;
}

.nav {
    width: 100vw !important;
}

.navbar {
    background-color: black !important
}

.navbar a:hover {
    color: orange !important;
}
.nav-link{
    font-size: 0.9rem !important;
}

#btnMenuContato {
    border: none;
    color: black !important;
}

#btnMenuContato:hover {
    background-color: orangered;
    border: none;
    color: white !important;
}

.logo h1 {
    color: whitesmoke !important;
    font-size: 1.5rem;
}

.primeiraPagina {
    width: 100vw;
    height: 90vh;
    background-image: url('/img/img_garota_chamada.jpg');
    background-size: cover;
    background-position: center;
}

.primeiraPaginaFrase h1 {
    width: 40vw;
    margin-top: 30vh !important;
    margin-right: 45vw;
    font-size: 3rem;
    text-align: left !important;
}

.primeiraPaginaFrase {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.equipe {
    scroll-margin-top: 5rem;
    background-color: white;
    width: 100vw;
    min-height: 100vh;
}

p {
    line-height: 2rem;
}

.equipe p {
    width: 50vw;
    line-height: 2rem;
}

.equipe img {
    max-width: 50%;
    border-radius: 0.3125rem;
}

.equipe a{
    width: fit-content;
}

.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    background-image: url('/img/img5.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.servicos img {
    max-width: 100%
}

.servico {
    border: 0.5px solid grey !important;
    width: 27rem;
    min-height: 70vh;
    margin: 0.5rem;
    backdrop-filter: blur(10px);
}

.servico:hover{
    transform: scale(1.05) !important;
    transition: all 0.2s;
}

.servico a,
.call-to-action a {
    width: fit-content !important
}

.servico p {
    text-shadow: 1px 1px 1px black !important
}

.call-to-action {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 90vh;
}

.call-to-action p {
    line-height: 2.5rem;
}

.modalArtigo,
.modalMonografia,
.modalDissertacao,
.modalProjetoTCC {
    background-color: #ffffff;
    position: absolute;
    width: 45rem;
    height: auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.375rem;
    z-index: 5000;
    margin: 1rem auto !important;
    padding: 1rem 0.5rem auto !important;
}

.modalArtigo p,
.modalMonografia p,
.modalDissertacao p,
.modalProjetoTCC p {
    font-size: 0.9rem;
}

.depoimentos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f3ec;
    width: 100vw;
    height: 90vh;
}

.depoimento{
    background-color: #ffffff;
    width: 18rem;
    height: 30rem;
}

.depoimento p{
    font-size: 0.9rem;
    line-height: 1.75rem;
}

.depoimento:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.depoimento p:hover{
    color: cornflowerblue !important;
    margin: 0 auto !important;
}

.contadores{
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-columns: "1fr 1fr 1fr";
    grid-template-rows: auto;
    grid-template-areas: "contadorTitulo contadorTitulo contadorTitulo"
                         "contador1 contador2 contador3";
    gap: 0.3125rem;
    background-color: whitesmoke;
}

.contadorTitulo{
    grid-area: contadorTitulo;
    width: 100vw;
    height: 1.5rem;
}

.contador1{
    background-color: #ffffff;
    grid-area: contador1;
    width: 25vw;
    height: 50vh;
}

.contador2{
    background-color: #ffffff;
    grid-area: contador2;
    width: 25vw;
    height: 50vh;
}

.contador3{
    background-color: #ffffff;
    grid-area: contador3;
    width: 25vw;
    height: 50vh;
}

.contador1 span,
.contador2 span,
.contador3 span{
    font-family: 'Open Sans', sans-serif;
}

.contadorTexto{
    font-size: 4.5rem !important;
}

.chamadaPreco{
    width: 100vw;
    height: 100vh;
}

.chamada{
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 7rem;
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
}

.chamadaPreco h2{font-size: 3rem}

.chamadaPreco p{
    border-radius: 30px;
    width: 30vw;
    height: 8rem;
}

.chamadaPreco img{
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

#btnOrcamentoChamada{width: fit-content}

.secaoFormulario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/direitoAutoral2.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
}

.formulario {
    backdrop-filter: blur(20px);
    min-height: 70vh;
    width: 50vw;
    border: 0.25px solid grey !important;
}

.rodape {
    background-color: rgb(18, 17, 17);
    width: 100vw;
    height: 8rem;
}

.rodape h6 {
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: 200;
}

.rodape a{
    text-decoration: none;
    color: whitesmoke;
}

.midiasRodape{
    align-items: center;
    justify-content: center;
}

.midiasRodape i{
    color: rgb(187, 174, 174) !important;
    font-size: 1.5rem;
    font-weight: 100 !important;
}




/*Resolução de telas até 480px*/
@media screen and (max-width: 30rem) {
    .nav-link{
        margin-left: 0 !important;
    }
    .primeiraPagina {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto !important;
    }

    .primeiraPaginaImagem {
        width: 100vw;
        margin: 0 auto;
        height: 70vh;
    }

    .primeiraPaginaImagem img {
        max-width: 95%;
        margin: 0 auto !important;
    }

    .primeiraPaginaFrase h1 {
        text-align: center;
        font-size: 1.75rem;
    }

    .formulario {
        width: 97vw !important;
        padding: 0 0.25rem !important;
        margin: 0 auto !important;
    }

    .equipe {
        width: 100vw !important;
    }

    .equipe h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .equipe img {
        max-width: 90%;
    }

    .equipe p {
        font-size: 0.9rem;
        line-height: 1.75rem;
        width: 99vw;
        margin: 0 auto !important;
    }

    .servicos {
        flex-direction: column;
        height: auto;
    }

    .servico {
        width: 99vw;
        height: auto;
    }

    .servico p {
        font-size: 0.9rem;
        margin: 0.5rem;
    }

    .call-to-action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse !important;
    }

    .call-to-action p {
        font-size: 0.85rem;
        line-height: 1.75rem;
        margin: 0 auto;
    }

    .call-to-action h2 {
        font-size: 1.75rem;
        text-align: center;
    }

    .call-to-action h3 {
        font-size: 1.25rem;
        text-align: center;
    }

    .modalArtigo,
    .modalDissertacao,
    .modalMonografia,
    .modalProjetoTCC {
        position: absolute;
        max-width: 99vw;
        height: fit-content !important;
        padding: 1rem 0.5rem !important;
        margin: 0.5rem auto !important;
    }

    .modalArtigo p,
    .modalMonografia p,
    .modalDissertacao p,
    .modalProjetoTCC p {
        font-size: 0.9rem;
    }

    .depoimentos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }

    .depoimento{
        width: 99vw !important;
        height: auto;
        margin: 0 auto;
    }

    .depoimento p{
        font-size: 0.8rem;
        line-height: 2rem;
    }

    .depoimento:hover{
        transform: scale(1.07);
    }

    .contadores{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .contadorTitulo{
        height: auto;
    }

    .contador1,
    .contador2,
    .contador3{
        width: 95vw;
        height: auto;
        margin: 0.5rem !important;
    }

    .chamadaPreco{
        width: 100vw;
        height: auto;
    }

    .chamadaPreco h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto !important;
    }

    .chamada{
        font-size: 3rem;
        width: 90vw;
        height: 4rem;
    }



}